@font-face {
    font-family: 'Manrope';
    src: url('subset-Manrope-Bold.woff2') format('woff2'),
        url('subset-Manrope-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('subset-Manrope-Light.woff2') format('woff2'),
        url('subset-Manrope-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('subset-Manrope-Regular.woff2') format('woff2'),
        url('subset-Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('subset-Manrope-ExtraBold.woff2') format('woff2'),
        url('subset-Manrope-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('subset-Manrope-SemiBold.woff2') format('woff2'),
        url('subset-Manrope-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('subset-Manrope-Medium.woff2') format('woff2'),
        url('subset-Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('subset-Unbounded-Bold.woff2') format('woff2'),
        url('subset-Unbounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('subset-Unbounded-ExtraBold.woff2') format('woff2'),
        url('subset-Unbounded-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('subset-Unbounded-Black.woff2') format('woff2'),
        url('subset-Unbounded-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('subset-Unbounded-Medium.woff2') format('woff2'),
        url('subset-Unbounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('subset-Unbounded-Light.woff2') format('woff2'),
        url('subset-Unbounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('subset-Unbounded-Regular.woff2') format('woff2'),
        url('subset-Unbounded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('subset-Unbounded-SemiBold.woff2') format('woff2'),
        url('subset-Unbounded-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

